<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ojassoft.vartalive">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_vartalive">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application>

        <activity
            android:name="com.ojassoft.vartalive.activities.LiveActivityNew"
            android:exported="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:autoRemoveFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" >

            <intent-filter>
                <action android:name="com.ojassoft.vartalive.activities.LiveActivityNew" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>


        <activity
            android:name="com.ojassoft.vartalive.activities.VideoCallActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
            android:taskAffinity="com.ojassoft.vartalive.activities.VideoCallActivity"
            android:supportsPictureInPicture="true"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.ojassoft.vartalive.activities.VideoCallActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--<intent-filter>
                <action android:name="com.ojassoft.vartalive.activities.VideoCallActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->

        </activity>

        <activity
            android:name="com.ojassoft.vartalive.activities.VoiceCallActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:taskAffinity="com.ojassoft.vartalive.activities.VoiceCallActivity"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" >

            <intent-filter>
                <action android:name="com.ojassoft.vartalive.activities.VoiceCallActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>
</manifest>